body{
  margin-left:130px;
  margin-right:130px;
  margin-top:20px;
  background-color:#e8e8e8;
}
img {
  float: left;
  border-radius: 15px;
  border: 1px solid blue;
  margin: 10px;
}

.well {
  margin: 20px;
  margin-left: 5px;
  min-height: 20px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #dcdcdc;
  border: 1px solid blue;
  border-radius: 4px;
}

h2 {
  line-height: 15px;
  font-style: italic;
}

.welcome{
text-align: center;
}

.education {
  border: 1px solid blue;
  padding: 3px;
  width: 45%;
  float: left;
  margin: 3px;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #dcdcdc;
  display: inline-block;
}

.hobbies {
  border: 1px solid blue;
  padding: 3px;
  width: 51.5%;
  float: left;
  margin: 3px;
  border-radius: 4px;
  margin-bottom: 13px;
  background-color: #dcdcdc;
  display: inline-block;
}

.projects{
  border: 1px solid green;
  padding: 3px;
  width: 97.5%;
  float: left;
  border-radius: 4px;
  background-color: #dcdcdc;
  display: inline-block;
}
