body{
  margin-left:100px;
  margin-right:100px;
}
img {
  float: left;
  border-radius: 15px;
  margin: 5px;
}

h2 {
  line-height: 3px;
  font-style: italic;
}

.welcome{
text-align: center;
}

.education {
  border: 3px solid blue;
  padding: 3px;
  width: 46%;
  float: left;
  display: inline-block;
  margin: 3px;
}

.hobbies {
  border: 3px solid blue;
  padding: 3px;
  width: 46%;
  float: left;
  display: inline-block;
  margin: 3px;
}

.projects{
  border: 3px solid green;
  padding: 3px;
  width: 100%;
  float: left;
  display: inline-block;
  margin: 3px;
}
